<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/style.css" type="text/css">
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<title>Mongo Scraper : New York Times</title>
	</head>
	<body>
        <nav class="navbar navbar-inverse bg-inverse fixed-top">
            <h1 class="navbar-brand">Mongo Scraper</h1>
            <div class="navbtn">
            <a class="btn btn-primary btn-lg" href="/" role="button">home</a> 
            <a class="btn btn-primary btn-lg" href="/saved" role="button">Saved Article</a> 
            <a class="btn btn-primary btn-lg bg-danger" href="/scrape" role="button">Scrape New Article!</a> 
            </div>
        </nav>
		<div class="wrapper">
    		{{{body}}}
		</div>
	</body>
	<div style="height: 100px">
	</div>
	<div class="footer" style="text-align: center; background-color: #fff" id="footer">
  	 <hr>
   	© Copyright 2017, SandiGau
	</div>

</html>