
<h1 style="text-align: center">Articles</h1>
<div class="card" style="width: 20rem;">
  {{#each doc.results._id}}
  <div class="card-block">
    <h4 class="card-title">{{this.title}}</h4>
    <a href="#" class="btn btn-primary">{{this.link}}</a>
  </div>
  {{/each}}
</div>
