<ul style="margin: 0 100px 0 50px; display: inline-block">
      <h3>Burgers were devoured</h3>
  {{#each title}}
        <li style="list-style-type: none; display: none">{{this.id}}</li>
        <li style="list-style-type: none">Title: {{this.title}}</li>
        <li style="list-style-type: none">Link: {{this.link}}</li>
      </li>
  {{/each}}
</ul>