
{{#each Article}}
<div class="card" style="width: 80%; text-align: center; margin: 10px auto">
  <p style="display: none">{{_id}}</p>
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <a href="#">{{link}}</a>
    <p>
    <form action="articles/{{this.id}}?_method=PUT" method="POST">
      <input type="hidden" name="saved" value="true">
      <button type="submit" class="btn btn-primary">save</button>
     </form>
  </div>
</div>
{{/each}}
